<app-header />
<div class="container">
    <a [routerLink]="'/novo-filme'" class="btn btn-danger">
        Cadastrar filme
    </a>
    <hr>
</div>

<div *ngIf="loading" class="text-center text-white">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Carregando...</span>
    </div>
    <p class="mt-2">Carregando filmes...</p>
</div>

<div *ngIf="error" class="alert alert-danger" role="alert">
    {{error}}
</div>

<div *ngIf="!loading && !error" class="container mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let movie of movies">
            <app-card
                [title]="movie.title"
                [description]="movie.description"
                [duration]="duration()"
                [releaseDate]="movie.releaseDate"
                [ageRating]="ageRating()"
                [isTop10]="isTop10()"
                [approvalRating]="getApprovalRating(movie.rating)"
                [providerLogo]="providerLogo(movie.services)"
            ></app-card>
        </div>
    </div>
</div>
