<div id="sign-up-container" class="container">
    <div class="row justify-content-center">
        <div class="registration-box p-4">
            <h1 class="mb-4">Cadastre-se</h1>
            
            <form>
                <div class="mb-3">
                    <input type="text" 
                            class="form-control custom-input" 
                            placeholder="Seu nome completo">
                </div>

                <div class="mb-3">
                    <input type="text" 
                            class="form-control custom-input" 
                            placeholder="Seu melhor e-mail">
                </div>
                
                <div class="mb-3">
                    <input type="password" 
                            class="form-control custom-input" 
                            placeholder="Sua senha">
                </div>
                
                <button type="submit" class="btn btn-danger w-100 custom-button mb-3">
                    Entrar na conta
                </button>
                
                <div class="text-center new-here">
                    <span class="text-white">Já tem sua conta?</span>
                    <a href="/login" class="text-danger text-decoration-none ms-2">
                        Faça login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>