<div id="sign-in-container" class="container">
    <div class="row justify-content-center">
        <div class="login-box p-4">
            <h1 class="mb-4">Entre na sua conta</h1>
            
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div class="mb-3">
                    <input type="text" 
                            class="form-control custom-input" 
                            placeholder="E-mail ou número de telefone"
                            type="email" 
                        id="email" 
                        name="email"
                        [(ngModel)]="user.email"
                        required
                        email
                        #email="ngModel"
                        >

                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
                        <div *ngIf="email.errors?.['required']">Email é obrigatório.</div>
                        <div *ngIf="email.errors?.['email']">Email inválido.</div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <input 
                            class="form-control custom-input" 
                            placeholder="Sua senha"type="password" 
                            id="password" 
                            name="password"
                            [(ngModel)]="user.password"
                            required
                            minlength="6"
                            #password="ngModel">
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
                            <div *ngIf="password.errors?.['required']">Senha é obrigatória.</div>
                            <div *ngIf="password.errors?.['minlength']">Senha deve ter no mínimo 6 caracteres.</div>
                        </div>
                </div>

                <div *ngIf="errorMessage" class="error-message">
                    {{errorMessage}}
                </div>
                
                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-danger w-100 custom-button mb-3">
                    Entrar na conta
                </button>
                
                <div class="text-center mb-4">
                    <a [routerLink]="'/cadastre-se'" class="text-white text-decoration-none forgot-password">
                        Esqueci minha senha
                    </a>
                </div>
                
                <div class="text-center new-here">
                    <span class="text-white">Novo por aqui?</span>
                    <a [routerLink]="'/cadastre-se'" class="text-danger text-decoration-none ms-2">
                        Assine agora
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>